<div class="container">
    <p> Please add a contact. </p>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="cFirstName" placeholder="Contact First Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="cLastName" placeholder="Contact Last Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="cPhone" placeholder="Contact Phone">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addNewContact()">Add Contact</button>
            </div>
        </div>
    </div>
</div>